.kaufman__triangle {
  width: 734px;
  height: 733px;
  background-image: url(../../../images/triangle.svg);
  background-position: top right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}
